<h1>Listing resellers</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resellers.each do |reseller| %>
  <tr>
    <td><%= reseller.name %></td>
    <td><%= link_to 'Show', reseller %></td>
    <td><%= link_to 'Edit', edit_reseller_path(reseller) %></td>
    <td><%= link_to 'Destroy', reseller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reseller', new_reseller_path %>
