<h1>Resellers</h1>
<div id="resellers" data-resellers="<%= render(template: "resellers/index.json.rabl") %>">
<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <tr>
  	<td><%= link_to "Add Reseller", new_reseller_path %></td>
  	<td></td>
  </tr>
<% @resellers.each do |reseller| %>
  <tr>
    <td><%= link_to reseller.name, edit_reseller_path(reseller) %></td>
    <td><%= link_to 'Destroy', reseller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
