<%= form_for @video do |f| %>
	
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="video_form_view" class="form_view">
  <div class="form_labels" id="video_form_labels">
    <%= f.label :title %>
    <%= f.label :details %>
    <%= f.label :thumbnail %>
    <%= f.label :retinathumbnail, "Retina Thumbnail" %>
    <%= f.label :video_file %>
    <%= f.label :app_url, "iTunes.com URL" %>
    <%= f.label :app_thumbnail, "App Icon URL" %>
  </div><!-- form_labels -->

  <div class="form_fields" id"video_form_fields">
    <%= f.text_field :title %>
    <%= f.text_area :details, :rows => 2 %>
    <%= f.file_field :thumbnail %>
    <%= f.hidden_field :thumbnail_cache %>
    <%= f.file_field :retinathumbnail %>
    <%= f.hidden_field :retinathumbnail_cache %>
    <%= f.file_field :video_file %>
    <%= f.text_field :app_url %>
    <%= f.text_field :app_thumbnail %>

  </div><!-- form_fields -->

  <div class="actions">
    <%= f.submit %>
    <%= link_to "Cancel", :back %>
  </div>
</div><!-- form_view -->
<% end %>
