<p id="notice"><%= notice %></p>

<section class="video_block">
  <header id="video_item_header">
  	<div id="heading_block">
  		<h3 class="video_title"><%= @video.title %></h3>
  	</div>
  </header>
  <section id="video_area">
    <video id="show_video" class="video-js vjs-default-skin" controls
      preload="auto" width="640" height="360" data-setup="{}">
      <source src="<%= @video.video_file_url %>" type='video/mp4'>
    </video>
  </section><!-- video_area -->

  <div class="video_meta">
    <p><%= @video.details %></p>
    <h4 class="video_item_label">Retina Thumbnail:</h4><p><%= @retina %></p>
    <% if @video.app_url? %>
      <h4 class="video_item_label">Mentioned App:</h4>
        <% if @video.app_thumbnail? %>
    	   <%= image_tag @video.app_thumbnail.to_s %>
        <% end %>
      <p><%= link_to image_tag("Download_on_App_Store.png"), @video.app_url, :target => "_blank" %></p>
    <% end %>
  </div><!-- video_meta -->

</section><!-- video_block -->



<div id="edit_controls">
    <%= link_to 'Edit', edit_video_path(@video) %> |
    <%= link_to 'Back', videos_path %>
</div>

<%= debug @video %>