<!-- <div class="container-fixed"> -->
<div class="row">
<div class="col-sm-8">
	<div class="row">
		<div class="col-sm-6">
			<h2>Products</h2>
			<ul>
				<li><a href="http://www.trilbytv.co.uk">TrilbyTV</a></li>
				<li><a href="http://www.trilbybookclub.co.uk">TrilbyBookclub</a></li>
				<li><a href="http://www.snappt.uk">Snappt</a></li>
				<li><a href="http://portal.trilby.co.uk">Reseller Portal</a></li>
				<li><a href="http://www.trilbytv.co.uk/admin/dashboard">TrilbyTV Dashboard</a></li>
			</ul>
		</div>
		<div class="col-sm-6">
		    <h2>Tools</h2>
			<ul>
				<li><a href="javascript:window.open('http://eepurl.com/p1d2v','Newsletter Subscription','width=700,height=800')">Newsletter Subscriber Form &rarr;</a></li>
				<li><a href="javascript:window.open('https://trilby.typeform.com/to/Rf4ENi','Trilby Feedback','width=700,height=800')">Trilby Feedback Form &rarr;</a></li>
				<li><a href="javascript:window.open('http://sgiz.mobi/s3/40eb4e4ed028','Apple APD Feedback','width=700,height=800')">APD Feedback Form &rarr;</a></li>
				<li><a href="http://wiki.local:3000">Jenkins Server</a></li>
			</ul>
		</div>
	</div><!-- /row -->
	<div class="row">
		<div class="col-sm-6">
			<h2>iOS Apps</h2>
			<ul class="app-list">
				<li class="app-list-item">
					<%= link_to image_tag('TTraining-Icon-80.png', :class => 'icons'), 'https://itunes.apple.com/us/app/trilby-training/id622520644?ls=1&mt=8' %>
					<p class="app-name">Trilby Training</p>
				</li>
				<li class="app-list-item">
					<%= link_to image_tag('TTV-Icon-80.png', :class => 'icons'), 'https://itunes.apple.com/us/app/trilbytv-player/id675525716?ls=1&mt=8' %>
					<p class="app-name">TrilbyTV</p>
				</li>
				<li class="app-list-item">
					<%= link_to image_tag('TTVP-Icon-80.png', :class => 'icons'), 'https://itunes.apple.com/us/app/trilbytv-player/id674488346?ls=1&mt=8' %><p class="app-name">TrilbyTV Player</p>
				</li>
				<li class="app-list-item">
					<%= link_to image_tag('Bookclub-Icon-80.png', :class => 'icons'), 'https://itunes.apple.com/us/app/trilby-bookclub/id687283975?ls=1&mt=8' %>
					<p class="app-name">Bookclub</p>
				</li>
				<li class="app-list-item">
					<%= link_to image_tag('Snappt-Icon-80.png', :class => 'icons'), 'https://itunes.apple.com/us/app/snappt!/id919065597?ls=1&mt=8' %>
					<p class="app-name">Snappt!</p>
				</li>
				<li class="app-list-item">
					<%= link_to image_tag('Supporting-Icon-80.png', :class => 'icons'), 'https://itunes.apple.com/us/app/supporting-ipad-training-tips/id887366850?ls=1&mt=8' %>
					<p class="app-name">Supporting Teachers</p>
				</li>
			</ul>
		</div>
		<div class="col-sm-6">
			  <h2>Systems</h2>
		  <ul>
			<li><a href="http://email.trilby.co.uk" target="_blank">Trilby Email</a></li>
			<li><a href="http://wiki.trilby.co.uk" target="_blank">Trilby Wiki Server</a></li>
			<li><a href="http://www.trilby.co.uk/wp-admin/" target="_blank">Trilby Wordpress Login</a></li>
			<li><a href="http://trilby.capsulecrm.com" target="_blank">Capsule CRM</a></li>
			<li><a href="afp://192.168.3.51" target="_blank">Trilby NAS (on LAN)</a></li>
			<li><a href="http://holiday.trilby.co.uk">Holiday Tracker</a></li>
			<li><a href="https://trilby.hipchat.com/chat">HipChat Chatroom</a></li>
			<li><a href="http://tools.trilby.co.uk/sig">Email Signatures</a></li>
			<li><a href="http://supportingapp.trilby.co.uk">Supporting Teachers Login</a></li>
		  </ul>
		</div>
	</div><!-- 	/row -->
	</div><!-- /col-md-8 -->
	<div class="col-sm-4">
		<h2>Job Log</h2>
		<div>
			<iframe name="joblog" src="http://job.trilby.co.uk/web/" frameborder="0" seamless scrolling="no" height="700px"></iframe>
		</div>

</div><!-- /row -->
</div><!-- /container -->