<div id="web_course_view">
	<h2><%= @course.title %></h3>
	<h3>Audience</h3>
	<p class="course_fields"><%= @course.audience.html_safe %>

	<h3>Description</h3>
	<p class="course_fields"><%= @course.description.html_safe %></p>

	<h3>Learning Outcomes</h3>
	<p class="course_fields"><%= @course.learning_outcomes.html_safe %></p>

	<h3>Equipment</h3>
	<p class="course_fields"><%= @course.equipment.html_safe %></p>

	<h3>Length and location</h3>
	<p class="course_fields">This is a <%= @length %> course.</p>
	<p class="course_fields">This course is delivered <%= @course.location.downcase %></p>

	<h3>Cost</h3>
	<p class="cost_course_fields"><%= number_to_currency(@course.enduser_cost, :precision => 2, :unit => "£") %> including travel</p>

	<p class="updated">Last Updated: <%= @course.updated_at.strftime("%B %Y") %>.<br>* All prices exclude VAT</p>
</div><!-- web_course_view -->

<div id="edit_controls">
        <%= link_to 'Edit', edit_course_path(@course) %> |
    <%= link_to 'Destroy', @booking, method: :delete, data: { confirm: 'Are you sure you want to delete this booking?' } %> |
    <%= link_to 'Back', courses_path %>
</div>

<%= debug @course %>