<div id="hosting_view">
	<h2>Domain Record for <%= @hosting.domain_name %></h2>
	
	<div>
		<div>
			<p>Customer</p>
			<p>Contact Name</p>
			<p>Contact Email</p>
			<p>Hosting Package</p>
			<p>Domain Registration?</p>
			<p>Email?</p>
			<p>Additional Domains</p>
			<p>Notes</p>
		</div>
		<div>
			<p><%= @hosting.customer_id %></p>
			<p><%= @hosting.contact_name %></p>
			<p><%= @hosting.contact_email %></p>
			<p><%= @hosting.hosting_package %></p>
			<p><%= @hosting.domain_registration %></p>
			<p><%= @hosting.email %></p>
			<p><%= @hosting.additional_domains %></p>
			<p><%= @hosting.notes %></p>
		</div>


	<p class="updated">Last Updated: <%= @hosting.updated_at.strftime("%B %Y") %></p>
</div><!-- web_course_view -->

<div id="edit_controls">
        <%= link_to 'Edit', edit_hosting_path(@hosting) %> |
    <%= link_to 'Destroy', @hosting, method: :delete, data: { confirm: 'Are you sure you want to delete this domain registration record?' } %> |
    <%= link_to 'Back', hostings_path %>
</div>

<%= debug @hosting %>