	<%= link_to logo , root_path, :class => :headerimg %>
	<div id="main_menu">
		<ul id="primary-main-menu" class=menu>
			<li id="menu-item-475" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item"><%= link_to "Home", root_path %></li>
			<li id="menu-item-474" class="menu-item menu-item-type-post_type menu-item-object-page"><%= link_to "Bookings", bookings_path %></li>
			<li id="menu-item-473" class="menu-item menu-item-type-post_type menu-item-object-page"><%= link_to "Courses", courses_path %></li>
			<li id="menu-item-473" class="menu-item menu-item-type-post_type menu-item-object-page"><%= link_to "Resellers", resellers_path %></li>
			<li id="menu-item-473" class="menu-item menu-item-type-post_type menu-item-object-page"><%= 
				link_to "Customers", customers_path %></li>
			<li id="menu-item-473" class="menu-item menu-item-type-post_type menu-item-object-page"><%= 
				link_to "Videos", videos_path %></li>
		</ul>  
	</div>