	<%= link_to logo , root_path, :class => :headerimg %>
	<div id="main_menu">
		<ul id="primary-main-menu" class=menu>
			<li id="menu-item" class="menu-item"><%= link_to "Home", root_path %></li>
			<li id="menu-item" class="menu-item"><%= link_to "Bookings", bookings_path %></li>
			<li id="menu-item" class="menu-item"><%= link_to "Courses", courses_path %></li>
			<li id="menu-item" class="menu-item"><%= link_to "Resellers", resellers_path %></li>
			<li id="menu-item" class="menu-item"><%= 
				link_to "Customers", customers_path %></li>
			<li id="menu-item" class="menu-item-last"><%= 
				link_to "Videos", videos_path %></li>
		</ul>  
	</div>