<!DOCTYPE html>
<html>
<head>
  <title>TrilbyApps</title>
  <meta charset=utf-8>
  <meta name=description content="">
  <meta name=viewport content="width=device-width, initial-scale=1">

  <!-- Import Stylesheets and scripts -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- <script src="jquery.tweetspan/jquery.tweetspan.min.js"></script> -->
  <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/c/video.js"></script>
  <%= csrf_meta_tags %>

</head>
<body>
	<!-- <div id="header-line"></div> -->
<div id="top">
	<div id="header">
		<div id="header_nav">
			<div id="logo">
				<%= link_to logo, root_path %>
			</div>
			<ul id="nav">
				<!-- <li><%= link_to "Home", root_path %></li> -->
				<li><%= link_to "Bookings", bookings_path %></li>
				<li><%= link_to "Resellers", resellers_path %></li>
				<li><%= link_to "Customers", customers_path %></li>
				<li><%= link_to "Domains", domains_path %></li>
			</ul>
		</div>
	</div>
</div>